//Fonts
$font-titles: 'Poppins', sans-serif;
$font-text: 'Helvetica', sans-serif;


//Colors
$text-primary: #1d1d1d;
$text-secondary:#a6a6a6;

//$body-bg-color: #271831;
$body-bg-color: #f0f0f0;
$bg-color: #111;
$bg-color-secondary: #1d1d1d;

//Border radius
$small-border-radius: 8px;
$medium-border-radius: 12px;
$great-border-radius: 16px;

//linear gradientes
$principal-gradient: linear-gradient(90deg, rgba(250,82,82,1) 0%, rgba(221, 36, 118, 1) 100%);